@import "vars";
@import "mixins";

//변수사용하면 한번에 바뀌니 편하다.
//swiper쓸때는 li에 클래스 줘서 사용. 이 외에는 li에 클래스 잘 안준다.

#main-visual {
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/main/bg_main_visual.jpg");
  background-position: 0 100%;
  background-repeat: no-repeat;
  position: relative;
  .mask {
    width: 1280px;
    height: 850px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 70px 0 0 0;
    .main-mask {
      height: 100%;
    }
    li {
      width: 100%;
      height: 100%; //부모의 넓이가 있어야 100%가 먹는다.
      background-repeat: no-repeat;
      background-size: cover;
    }
    .visual01 {
      background-image: url("../images/main/visual01.png");
    }
    .visual02 {
      background-image: url("../images/main/visual02.png");
    }
    .visual03 {
      background-image: url("../images/main/visual03.jpg");
    }
  }
  > .contents {
    width: 100%;
    //margin-top: 500px; //만약 부모의 첫번째 자식요소가 margin을 가지면 여백을 생성시킨다. 이때 부모에게 overflow:hidden을 주면 원상복구된다.
    position: absolute; //넓이가 자식의 최소단위로 바뀐다. 그러니 꼭 width 100%를 같이 줘야 한다! 그래야 부모의 여백이 생기면서 좌우 배치가 auto처리된다.
    bottom: 150px;
    z-index: 2;
    color: #fff;
    .title {
      font-size: 68px;
      font-weight: 900;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
      user-select: none; //사용자 드래그 처리 안됨
    }
    .pagination {
      margin-top: 50px;
      .swiper-pagination-bullet {
        width: 50px;
        height: 4px;
        opacity: 1;
        border-radius: 0;
        background-color: #fff;
        &-active {
          background-color: $point-color;
        }
      }
    }
    .news-and-notice {
      display: flex;
      justify-content: space-between;
      margin-top: 200px;
    }
    .news {
      width: 400px;
      word-break: keep-all;

      h3 {
        margin-bottom: 30px;
        padding-bottom: 30px;
        font-size: $h3;
        border-bottom: 1px solid #fff;
      }
      .desc {
        line-height: 1.5;

        br {
          content: ""; //이렇게 쓰면 br 태그가 무시가 된다.
        }
      }
    }
    .notice {
      width: 850px;
      .title-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        color: #fff;
        h2 {
          font-size: $h3;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .contents {
        position: relative;
        padding: 20px;
        color: #333;
        background-color: white;
        li {
          display: flex;
          align-items: center;
        }
        .date {
          flex-direction: column;
          width: 80px;
          height: 80px;
          overflow: hidden;
          margin-right: 20px;
          font-weight: 700;
          text-align: center;
          color: white;
          background-color: $point-color;
          @include flex;
          @include longShadow(50, darken($point-color, 30));
          .num {
            display: block;
            font-size: 48px;
          }
        }
        .txt {
          width: 50%;
          h3 {
            margin-bottom: 10px;
            font-size: $h4;
          }
          p {
            @include ellipsis;
          }
        }
        .btns {
          position: absolute;
          top: 50%;
          right: 30px;
          z-index: 2;
          transform: translateY(-50%); //자기 높이의 50%이기 때문에 가운데에 간다.
          i {
            font-size: 24px;
          }
        }
        .fraction-pagination {
          width: auto;
          position: absolute;
          top: 50%;
          right: 120px;
          bottom: auto; //bottom의 위치가 따로 잡혀 있어서 auto 처리 해야 top이 준 위치대로 움직임
          left: auto; //left의 위치가 따로 잡혀 있어서 auto 처리 해야 right대로 움직임!
          font-size: 20px;
          font-weight: 700;
          transform: translateY(-50%);
          opacity: 50%;
        }
      }
    }
  }
}

//반응형웹은 아래같이 ... css를 두번쓰는 것이다.
@media all and (max-width: 1280px) {
}
@media all and(max-width:640px) {
  #header {
    #logo {
      display: none;
    }
    #gnb {
      .list {
        flex-direction: column;
      }
    }
  }
}

.section {
  padding: 200px 0;
  .title-box {
    h2 {
      font-size: $h2 - 4px;
      margin-bottom: 30px;
      strong {
        font-weight: 700;
      }
    }
    p {
      font-size: 17px;
      color: #666;
      word-break: keep-all;
      margin-bottom: 30px;
      line-height: 1.5;
    }
    .more {
      box-sizing: border-box;
      width: 200px;
      height: 60px;
      display: flex;
      background-color: $main-color;
      color: white;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      font-weight: 700;
      font-size: 15px;
      &:after {
        content: "\f061";
        font-family: "FontAwesome";
        display: block;
      }
    }
  }
}

#research {
  position: relative;
  .grey-background {
    width: 40vw;
    height: 80vh;
    background-color: #eee;
    position: absolute;
    top: 0;
    border-radius: 0 0 200px 0;
  }

  .title-box {
    position: absolute;
    width: 300px;
    .btns {
      display: flex;
      shape-outside: 300px;
      justify-self: space-between;
      margin-left: -30px;
      color: grey;
      .btn {
        display: flex;
        font-size: 18px;
        font-weight: 700;
        width: 140px;
        height: 50px;
        padding: 0 30px;
        justify-content: space-between;
        &:hover {
          color: $main-color;
        }
      }

      .btn-prev {
        &:before {
          content: "\f060";
          font-family: "FontAwesome";
        }
      }
      .btn-next {
        &:after {
          content: "\f061";
          font-family: "FontAwesome";
        }
      }
    }
  }
  .banner {
    overflow: hidden;
    width: 100vw;
    .mask {
      margin-left: 400px;
      overflow: hidden;
      li {
        height: 100%;
        width: 400px;
        .img-box {
          height: 300px;
          @include flex;
          border: 1px solid #ccc;
          background-color: #fff;
          img {
            height: 60px;
          }
        }
        .txt-box {
          h3 {
            font-size: $h4;
            padding: 20px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            @include ellipsis;
          }
          .date {
            display: flex;
            justify-content: space-between;
            i {
              color: $main-color;
              font-size: 24px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
